body{

    margin:0;
    font-family: Arial;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background: linear-gradient(135deg,#ff3b3b,#ff7b7b);

}

.login-container{

    background:white;
    padding:40px;
    border-radius:12px;

    width:300px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

.login-container h1{

    margin-bottom:5px;

}

.login-container p{

    color:gray;
    margin-bottom:25px;

}

.login-container input{

    width:100%;
    padding:12px;

    margin-bottom:15px;

    border:1px solid #ddd;

    border-radius:8px;

}

.login-container button{

    width:100%;
    padding:12px;

    border:none;

    background:#ff3b3b;

    color:white;

    font-weight:bold;

    border-radius:8px;

    cursor:pointer;

    transition:0.3s;

}

.login-container button:hover{

    background:#d90000;

}