body {
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff3b3b;
    color: white;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu button,
.menu a {
    margin: 5px;
    padding: 7px 12px;
    border: none;
    border-radius: 6px;
 cursor: pointer;
    background: white;
    text-decoration: none;
    color: black;
}

.carrinho-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.produtos {
    display: flex;
    gap: 30px;
    padding: 40px;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;

}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
    background: #ff3b3b;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.contato {
    background: white;
    padding: 40px;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay.ativo {
    display: block;
}

.carrinho {
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    padding: 20px;
    transition: 0.4s;
 
}

.carrinho.ativo {
    right: 0;
}

#lista {
    list-style: none;
    padding: 0;
}

#lista li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#lista button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}